@import '../theme-styles.scss';

.home {
  height: 100%;
  background-color: $grey1 !important;

  .mainCard {
    width: 100%;
    height: 60%;
    text-align: center;
    padding: 50px 20%;

    .content {
      width: 100%;
      height: 100%;
    }
  }

  .analysisCards {
    padding: 20px 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .content {
      padding: 10px;
      .ant-card {
        color: white;
        background-color: $colour2;
      }
    }
  }

  .expandedCard {
    position: absolute;
    height: 90%;
    top: 5%;
    left: 5%;
    width: 90%;
  }
}