.home {
  height: 100%;

  .mainCard {
    width: 100%;
    height: 60%;
    text-align: center;
    padding: 50px 20%;

    .content {
      background-color: cyan;
      width: 100%;
      height: 100%;
    }
  }

  .analysisCards {
    width: 100%;
    height: 40%;
    padding: 20px 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .content {
      flex-grow: 1;
    }
  }
}