@import '../../theme-styles.scss';

.minimised {
  color: white !important;
  background-color: $colour2 !important;
  box-shadow: 5px 5px 5px $colour1 !important;
  margin-right: 2rem !important;
  margin-bottom: 2rem !important;
}

.expanded {
  .ant-modal-header {
    background-color: $grey2 !important;
    border-color: $grey4 !important;
    .ant-modal-title {
      background-color: $grey2 !important;
    }
  }

  .title {
    color: white !important;
    text-shadow: 4px 4px $colour3 !important;
    margin-bottom: 0 !important;
  }

  background-color: $grey2 !important;
  .ant-modal-content {
    color: white !important;
    background-color: $grey2 !important;
  }
}