@import '../../theme-styles.scss';

.memory {
  text-align: center;
  background-color: $grey2 !important;
  color: white !important;

  .card {
    border: 1px solid $colour1 !important;

    .ant-card-head {
      border-bottom: 1px solid $colour1 !important;
      background-color: $grey3 !important;
      color: white !important;
    }

    background-color: $grey3 !important;
    color: white !important;
  }

  .buttons {
    text-align: center;
    display: flex;
    justify-content: center;

    .ant-btn {
      color: white;
      background-color: $colour4;
      border-color: $colour2;
    }
  }
}