.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1 {
  font-size: 16px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif
}

.weight-page {
  height: 100%;
  width: 100%;
}

.loading-card {
  text-align: center;
  top: 30%;
  display: inline-block;
  width: 200px;
  height: 140px;
}

.page-loader {
  text-align: center;
  vertical-align: middle;
  height: 100%;
}