.App {
  height: 100%;
  width: 100%;

  .sideBar {
    background-color: white;
    max-height: 100%;
    overflow: auto;
  }
}

#root {
  height: 100%;
  width: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1 {
  font-size: 16px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif
}

.weight-page {
  height: 100%;
  width: 100%;
}

.loading-card {
  text-align: center;
  top: 30%;
  display: inline-block;
  width: 200px;
  height: 140px;
}

.page-loader {
  text-align: center;
  vertical-align: middle;
  height: 100%;
}

$description-colour: #A9A9A9;
